[user]
	email = fartdraft@gmail.com
	name = pithecantrope

[init]
	defaultBranch = main

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
	dark = true
	syntax-theme = gruvbox-dark

[merge]
    conflictstyle = zdiff3

[diff]
    colorMoved = default

