#!/bin/sh

{
    while true; do
        time=$(date '+%H:%M')
        battery=$(cat /sys/class/power_supply/BAT0/capacity 2>/dev/null || echo '?')
        xsetroot -name "BAT: ${battery}% | ${time}"
        sleep 33s
    done
} &
unclutter --start-hidden -b
dunst &

st &
firefox &

exec dwm
